html{
    background: url(airplane\ wing.jpg) no-repeat center fixed;
    background-size: cover;
}
body{
    background-color: aliceblue;
    width: 500px;
    padding: 50px 100px;
    margin: 25px auto;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 42px;
}
h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: midnightblue;
}
li{
    margin-bottom: 10px;
}
button{
    background: skyblue;
    padding: 5px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
#result{
    border: 1px solid orange;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.madlib2-button {
    margin-left: 10px;
    background: chartreuse;
}
.term {
    font-variant: small-caps;
}
.para{
    border: 10px;
    background: aquamarine;
    border-radius: 18px;
}

